{{> header/header}}

<div class="content-container">
    <div class="content-wrapper-svc">
        <h4>Your service request has been scheduled for</h4>
        <h4>{{startTime}} and should be completed at {{endTime}}</h4>
    </div>
</div>