<div class="content-container center-align">

    <div class="content-wrapper-login">
        <div class="login-wrapper">
            <h4>Handyman RAD Customer Login</h4>

            <form role="form" id="loginForm" enctype="application/x-www-form-urlencoded">
                <div class="left-align">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="left-align">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="password" autocomplete="off">
                </div>
                <input type="submit" class="btn btn-primary" id="submit-login-btn" value="CLICK TO LOGIN">
            </form>

            <a href="/register">First time? Click Here to Sign Up</a>
        </div>
        {{!-- </div> --}}
    </div>
</div>