{{> header/header}}

{{!-- <div class = "container">
    <div class = "wrapper">
        <table id = "timeSlotForm">
            <th>Start time available</th>
            <th>Estimated end time</th>
            <th>Number of workers required</th>
            {{#each timeSlots}}
            <tr id = {{timeStart}}>
            <td> {{timeStart}} </td>
            <td> {{timeEnd}} </td>
            <td> {{numberOfHandyman}} </td>
            </tr>
            {{/each}}
        </table>
            <input type="submit" value="Select this time slot" id = "timeSubmit">
        

    </div>
</div> --}}