{{> header/header}}
<h2>Manage Services</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Man Hours</th>
        <th>Number of Men</th>
    </tr>
    {{#each services}}
    <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{manHour}}</td>
        <td>{{numberOfHandyman}}</td>
    </tr>
    {{/each}}
</table>