{{> header/header}}
<h2>Edit Handyman</h2>
<form role="form" id="updateHandymanForm" action="/api/handymans" method="PUT"
    enctype="application/x-www-form-urlencoded">
    {{#with customer}}
    <div>
        <label for=>First Name</label>
        <input type="text" id="firstName" name="firstName" value={{firstName}}>
    </div>
    <div>
        <label for=>Last Name</label>
        <input type="text" id="lastName" name="lastName" value={{lastName}}>
    </div>
    <div>
        <label for=>Email</label>
        <input type="text" id="email" name="email" value={{email}}>
    </div>
    <div>
        <label for=>Phone Number</label>
        <input type="text" id="phoneNumber" name="phoneNumber" value={{phoneNumber}}>
    </div>
    {{/with}}
    <button type="submit">Update</button>
</form>