{{> header/header}}
<h2>Admin Management</h2>
<nav style="background-color:slategray">
    <ul>
        <li><a href="/admin/customers">View Customers</a></li>
        <li><a href="/admin/handymen">View Handymen</a></li>
        <li><a href="/admin/service-requests">View Requests</a></li>
        <li><a href="/admin/services">View Services</a></li>
    </ul>
</nav>